// Ensure the body and html take up the full viewport height
html, body {
  height: 100%;
  margin: 0;
}

.App {
  min-height: calc(100vh - 230px); // 70px (Header) + 160px (Footer) = 230px
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Header {
  background-color: #000;
  color: #fff;
  text-align: center;
  height: 70px; 
}

.Footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  height: 160px; 
  margin-top: auto; // Pushes the footer to the bottom when content is short
}